@font-face{font-family:Titillium-Bold;src:url(../fonts/Titillium-Bold.otf)}@font-face{font-family:Titillium-Light;src:url(../fonts/Titillium-Light.otf)}@font-face{font-family:Titillium-Regular;src:url(../fonts/Titillium-Regular.otf)}
body,html{cursor:default}
body,div,html,nav{display:block}
.container{position:relative}
body,html{background-color:#f8f8f8;font-family:Titillium-Regular,sans-serif;color:#333332;margin:0}
body{overflow-x:hidden!important;}
.container-fluid { max-width: 1000px; margin: 0 auto; }
.left-side { max-width: 80%; position: relative; float: left; display: inline-block }
.right-side { max-width: 20%; position: relative; float: right; display: inline-block }
body { padding: 20px 0 }
textarea {top: 20px; position: relative; white-space: nowrap;  overflow-y: auto; overflow-x: hidden }
#aiArea { width: 750px;  margin: 0; height: 150px; resize: none; }
#humanArea {width: 500px;  margin: 0;height: 300px; resize: none; }
button { font-family: sans-serif; padding: 20px 5px; position: relative; margin: 30px 0; }
#url { margin: 20px 0; }
#run { margin: 5px 5px; }
#close {margin-top: 50px}
#closeWindow {width: 70px; height : 30px; margin-left: 10px; display: inline-block}
#status-field {margin-top: 10px; max-width: 750px}
.right-side a { display: block }
.btn { padding: 3px 12px; }
.selenium-logo{ position: relative; left: 40%;}
.selenium-logo img {width: 100px; height: 100px  }
.main { padding-top: 20px; }