@font-face{font-family:Titillium-Bold;src:url(../fonts/Titillium-Bold.otf)}@font-face{font-family:Titillium-Light;src:url(../fonts/Titillium-Light.otf)}@font-face{font-family:Titillium-Regular;src:url(../fonts/Titillium-Regular.otf)}
body,html{cursor:default}
body,div,html,nav{display:block}
.container{position:relative}
body,html{background-color:#f8f8f8;font-family:Titillium-Regular,sans-serif;color:#333332;margin:0}
body{overflow-x:hidden!important;}
.container-fluid { max-width: 1000px; margin: 0 auto; }
.left-side { max-width: 70%; position: relative; float: left; display: inline-block }
.right-side { max-width: 30%; position: relative; float: right; right: 25px; display: inline-block; }
body { padding: 20px 0 }
textarea {top: 20px; position: relative; white-space: nowrap;  overflow-y: auto; overflow-x: hidden; }
#aiArea { width: 665px; height: 250px; resize: both; margin: 20px 1px;}
#humanArea {width: 665px; height: 300px;  margin: 0; resize: both; }
button { font-family: sans-serif; padding: 20px 5px; position: relative; margin: 30px 1px; }
#url { margin-top: 40px; margin-bottom: 20px }
#run { margin: 5px 5px; }
#close {margin-top: 50px;}
#closeWindow {width: 70px; height : 30px; margin-left: 10px; display: inline-block;}
#status-field {margin-top: 20px; margin-left: -15px; width: 105%; }
.right-side a { display: block }
.btn { padding: 3px 12px; }
.selenium-logo{ position: relative; left: 40%;}
.selenium-logo img {width: 100px; height: 100px;  }
.main { padding-top: 20px; }
nav {max-width: 820px;}
.logged { float: left; }
.user-menu {float: right;}
.user-menu:hover { cursor: pointer }
#scenario { visibility: hidden; padding-left:450px; }
.modal-header { padding-bottom: 0 }
.close { margin-bottom: 5px }
.modal-footer { padding-top: 0 }
#scenario-save, #scenario-cancel { margin-top: 15px }
.form-control-custom { margin-bottom: 10px; }
.btn-custom { padding: 3px 8px; }
.btn-save-scenario{ margin-top: 30px;font-family: sans-serif; }
.dropdown-custom { padding: 0 20px }
#notifications {  cursor: pointer;  position: fixed;  right: 0;  z-index: 9999;  bottom: 0;  margin-bottom: 22px;  margin-right: 15px;  max-width: 300px;}
#aiArea { white-space: pre-wrap }
#newScenario:hover{ cursor: pointer; }
.bottomBlock{ margin: -30px -15px; display: flex;width: 100%;}
