.navbar-brand {
  font-size: 125%;
}

#content {
    color: #FFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #9d9d9d;
}
.copyright {
    text-align: right;
    padding-right: 15px;
