.navbar-brand {
  font-size: 125%;
}

#content {
    color: #FFF;
}

body{
	padding-top: 70px;
}

.footer {
    position:fixed;
	left:0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background: #000;
}
.copyright {
    text-align: right;
    padding-right: 15px;
	color: #FFF;
}