<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Altester</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="assets/style.min.css" />
	</head>

	<body>
		<div class="container-fluid">
			<header class="header">
				<div class="selenium-logo">
					<!--<img src="img/selenium.png">-->
				</div>
			</header>
			<nav>
				<p class="logged"> Logged in as <strong> <%- user %> </strong> - <a href="/logout"> logout </a> </p>
				<div class="dropdown user-menu">
						<a class="dropdown-toggle" type="text" data-toggle="dropdown"> Menu
							<span class="caret"></span></a>
						<ul class="dropdown-menu" id="menu"> <%- menu %> </ul>

					<div class="modal fade" id="modal-account" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" id="close-modal-acc" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Create Account</h4>
								</div>
								<div class="modal-body">
										<label for="name" class="sr-only">Name</label>
										<input type="text" id="acc-name" name="name" class="form-control form-control-custom" placeholder="Name" required="" autofocus="">
										<label for="username" class="sr-only">Username</label>
										<input type="text" id="acc-username" name="username" class="form-control form-control-custom" placeholder="Username" required="" autofocus="">
										<label for="password" class="sr-only">Password</label>
										<input type="password" id="acc-pwd" name="password" class="form-control form-control-custom" placeholder="Password" required="">
										<select title="acc-role" class="form-control form-control-custom" id="acc-role">
											<option value="none"> --- Choose role --- </option>
											<%- options %>
										</select>
									<div id="create-acc-status"></div>
									<div class="modal-footer" style="padding: 0">
										<button type="button" class="btn btn-primary" id="account-save"> Save </button>
										<button type="button" class="btn btn-danger" id="account-cancel" data-dismiss="modal"> Cancel </button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="modal-students" role="dialog">
						<div class="modal-dialog" style="width: 800px">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" id="close-modal-search" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Search Students</h4>
								</div>
								<div class="modal-body">
									<input title="search" type="text" class="form-control" placeholder="Search..." id="search-students" />
									<br/>
									<table class="table">
										<thead>
										<tr>
											<th>Name</th>
											<th>Course</th>
											<th>Scenario</th>
											<th>Results </th>
											<th>Comment</th>
										</tr>
										</thead>
										<tbody id="students-grid">

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="modal-scenarios" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" id="close-modal-browse" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Browse Scenarios</h4>
								</div>
								<div class="modal-body">
									<table class="table">
										<thead>
										<tr>
											<th>Name</th>
											<th>Scenario</th>
											<th> Edit/Remove/Start </th>
										</tr>
										</thead>
										<tbody id="scenarios-grid">

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</nav>
			<br/>
			<br/>
			<div class="main">
				<div class="left-side">
					<div><a id="newScenario">Create new scenario </a>  </div>
					<div><strong id="test-header">Write your test: </strong> </div>
					<div class="modal fade" id="modal" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" id="close-modal-scenario" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Save Scenario</h4>
								</div>
								<div class="modal-body">
									<p>Specify name of scenario: </p>
									<input type="text" title="scenario-name" id="scenario-name" required="" />
									<div id="scenario-status"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" id="scenario-save"> Save </button>
									<button type="button" class="btn btn-danger" id="scenario-cancel" data-dismiss="modal"> Cancel </button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div title="Human" id="humanArea" name="humanTest"  class='form-control' wrap="hard"></div>
							<button class="btn btn-primary" id="parse">Generate Test</button>
							<span id="scenario">
								<button class="btn" id="reset"> Reset </button>
								<button class="btn btn-default" id="discard"> Discard Changes </button>
								<button class="btn btn-success btn-custom" id="saveScenario"  data-toggle="modal" data-target="#modal"> <i class="fa fa-floppy-o"></i> </button>
								<button class="btn btn-danger btn-custom" id="removeScenario"> <i class="fa fa-trash"></i> </button>
							</span>
					</div>
					<div class="row">
						<div title="AI" id="aiArea" name="aiTest" class='form-control' wrap="hard"></div>
					</div>
					<div class="bottomBlock">
						<input class="form-control" style="max-width:75%" title="URL" id="url" name="urlInput" type="text" value="https://www.google.ca/" />
						<button class="form-control btn btn-success" style="margin-top:40px;max-width:25%;" name="runTest" id="run">Run Test</button>
					</div>
					<div id="status-field"></div>

					<div class="modal fade" id="modal-save-test-res" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" id="close-modal-test-res" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Save Test Results</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<label for="course" class="sr-only">Course</label>
											<input type="text" id="course" name="course" class="form-control form-control-custom" placeholder="Course" required="" autofocus="">
										</div>
										<div class="col-lg-6 col-sm-6">
											<select title="student list" class="form-control form-control-custom" id="studentList"></select>
										</div>
									</div>
									<label for="comment">Comment</label>
									<textarea class="form-control" rows="5" id="comment" wrap="hard" style="resize: none"></textarea>
									<label for="test-result" style="margin-top: 30px">Test Results</label>
									<textarea class="form-control" rows="5" id="test-result" style="resize: none" disabled></textarea>
									<div id="student-test-results"></div>
									<div class="modal-footer" style="padding: 0">
										<button type="button" class="btn btn-primary" id="save-test-results"> Save </button>
										<button type="button" class="btn btn-danger"  data-dismiss="modal"> Cancel </button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="confirm-dialog" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="close-modal-confirm-dialog" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Are you sure?</h4>
							</div>
							<div class="modal-body">
								<div id="dialog-message">

								</div>
							</div>
							<div class="modal-footer" style="padding: 10">
								<button type="button" class="btn btn-danger" id="dialog-yes"> Yes </button>
								<button type="button" class="btn btn-primary" data-dismiss="modal" id="dialog-no"> No </button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="showMessage" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="close-modal-showMessage" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Altester</h4>
							</div>
							<div class="modal-body">
								<div id="displayedMessage">

								</div>
							</div>
							<div class="modal-footer" style="padding: 10">
								<center>
									<button type="button" class="btn btn-primary" data-dismiss="modal" id="OK"> OK </button>
								</center>
							</div>
						</div>
					</div>
				</div>

				<div class="right-side panel panel-default" id="right-side">
					<div class="panel panel-heading"><strong> Provided tests: </strong></div>
						<div class"panel panel-body" id="provided-scenarios">
							<a href="javascript:;" id="runAll"> Run All </a>
						</div>
					</div>
				<div id="notifications"></div>
				</div>
			</div>
	</body>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/ace/build/src/ace.js"></script>
	<script src="bower_components/ace/build/src/ext-chromevox.js"></script>
	<script src="bower_components/ace/build/src/ext-language_tools.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="notify.js"></script>
	<script src="provided.js"></script>
</html>
