<li class='liststyle'>
<div class="thumbnails flex  row-fluid col-lg-2 col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail plain thumbnailstyle" title="Browse Movies">
    <div class="thumbtext">
      <a href="#movies/<%= _id %>" class="plain">
        <video class="img-responsive" controls preload="none" poster="<%= poster %>" >
            <source src="<%= trailer %>" type="video/mp4"/>
            <!-- fallback -->
            ADD-TEXT
        </video>

        <div class="infostyle">
          <% if (freshVotes == 0) { %>
          <div class="rottenpic" >N/A</div>
          <%} else{ %>
          <div class=<%= (Math.floor(freshTotal/freshVotes*1000)/10 >= 50.0 ) ? "freshpic" : "rottenpic" %>> <%= Math.floor(freshTotal/freshVotes*1000)/10 %>%(<%= freshVotes%>) </div>
          <% } %>
          <div class="info-text thumbclass">
          <h4><%= title %> (<%= released %>)</h4>
            <p>Directed by: <%= director %><br/>
            Starring: <%= starring %><br/>
            Genres: <%= genre %> Rating: <%= rating %>
			</p>
          </div>
         </div>
      </a>
    </div>
  </div>
</div>
</li>
