<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail plain" title="some message">
    <div class="some_class">
      <a href="#movies/<%= _id %>" class="plain">
        <video class="img-responsive" controls poster="<%= ADD-CODE %>" >
            <source src="<%= ADD-CODE %>" type="video/mp4"/>
            <!-- fallback -->
            ADD-TEXT
        </video>

        <div class="some_class_2">
          <%= ADD-CODE %> <br/>
          <!-- ADD-CODE -->
        </div>
      </a>
    </div>
  </div>
</div>