</br>
<form class="form-horizontal">
<div class="tomato">
<label class="radio-inline fresh_rate"><input type="radio" name="optradio"> Fresh  <img src="img/fresh.gif"></label>
<label class="radio-inline fresh_rate"><input type="radio" name="optradio"> Rotten  <img src="img/rotten.gif"></label>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<span class="rate">Currently rated:</span>
</div>
<br>
<label class="control-label" for="reviewtext">Enter Your Review</label>
<textarea class="reviewform" type="text" id="reviewtext" name="reviewtext" value=""/>
</br>
<label for="name" class="control-label">Name</label>
<input type="text" class="reviewform" name="name" value="<%= reviewName %>"/>
<label for="affiliation" class="control-label">Affiliation</label>
<input type="text" class="reviewform" name="affiliation" value="<%= reviewAffil %>" />
<br>
<input type="button" id="reviewsave" class="btn-success btn btn-primary" name="save" value="Review Movie"/>
</form>
