</br>
<form class="form-horizontal">
<div class="tomato">
<label class="radio-inline fresh_rate"><input type="radio" name="fresh" class="reviewform"> Fresh  <img src="img/fresh.gif"></label>
<label class="radio-inline fresh_rate"><input type="radio" name="rotten" class="reviewform"> Rotten  <img src="img/rotten.gif"></label>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<span class="rate">Currently rated:</span>
</div>
<br>
<label class="control-label" for="reviewText">Enter Your Review</label>
<textarea class="form-control reviewform" type="text" id="reviewText" name="reviewText" value=""/>
</br>
<label for="reviewName" class="control-label">Name</label>
<input type="text" class="reviewform" name="reviewName" value="<%= reviewName %>"/>
<label for="reviewAffil" class="control-label">Affiliation</label>
<input type="text" class="reviewform" name="reviewAffil" value="<%= reviewAffil %>" />
<br>
<br>
<input type="button" id="reviewsave" class="btn-success btn btn-primary" name="save" value="Review Movie"/>
</form>
